services:
  app:
    image: ghcr.io/silbergecko6917/zeiterfassung:latest
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    volumes:
      - ./data:/app/prisma

