services:
  app:
    image: ghcr.io/silbergecko6917/zeiterfassung:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - CRONEJOB_KEY=${CRONEJOB_KEY}
      - NODE_ENV=production
      - DATABASE_URL=file:./data/data.db

    volumes:
      - ./data:/app/data
