services:
  app:
    image: ghcr.io/silbergecko6917/zeiterfassung:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - CRONEJOB_KEY=${CRONEJOB_KEY}
      - NEXT_PUBLIC_LOGIN_REDIRECT=True
      - NODE_ENV=production

    volumes:
      - ./data:/app/prisma
