services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - CRONEJOB_KEY=${CRONEJOB_KEY}
      - NODE_ENV=development
      - DATABASE_URL=file:./data/data.db

    volumes:
      - ./src:/app/src
      - ./public:/app/public
      - ./next.config.ts:/app/next.config.ts
      - ./prisma:/app/prisma
      - ./scripts:/app/scripts
      - ./data:/app/data
